@reference "./globals.css";

.markdown {
  @apply text-base text-slate-300;
}

.markdown h1,
.markdown h2,
.markdown h3,
.markdown h4,
.markdown h5,
.markdown h6 {
  @apply text-emerald-200;
}

.markdown h1 {
  @apply mt-8 mb-4 text-3xl leading-snug font-bold;
}

.markdown h2 {
  @apply mt-7 mb-4 text-2xl leading-snug font-bold;
}

.markdown h3 {
  @apply mt-6 mb-4 text-xl leading-snug font-bold;
}

.markdown h4 {
  @apply mt-4 mb-4 text-lg leading-snug font-bold;
}

.markdown h5 {
  @apply mt-4 mb-4 text-base leading-snug font-bold;
}

.markdown h6 {
  @apply mt-4 mb-4 text-sm leading-snug font-bold;
}

.markdown p,
.markdown ul,
.markdown ol,
.markdown hr,
.markdown blockquote,
.markdown pre,
.markdown pre[class*="language-"],
.markdown pre[class*="lang-"],
.markdown img {
  @apply mb-4;
}

.markdown hr {
  @apply rounded border-t-4 border-indigo-400;
}

.markdown blockquote {
  @apply rounded-sm border-l-4 border-indigo-400 pt-1 pb-0.5 pl-4;
}

.markdown ul,
.markdown ol {
  @apply list-outside pl-6;
}

.markdown ul {
  @apply list-disc;
}

.markdown ol {
  @apply list-decimal;
}

.markdown li {
  @apply mb-2;
}

.markdown ol li::marker,
.markdown ul li::marker {
  @apply text-sm font-bold text-indigo-400;
}

.markdown a {
  @apply font-semibold text-emerald-500 hover:text-emerald-200 hover:underline hover:underline-offset-2;
}

.markdown img {
  @apply mx-auto block rounded;
}

.markdown table {
  @apply min-w-full bg-slate-950/40;
}

.markdown table th {
  @apply bg-emerald-900/60 text-base font-bold text-emerald-200;
}

.markdown table th,
.markdown table td {
  @apply border-2 border-slate-700 px-2 py-1;
}

.markdown code {
  @apply rounded-md bg-gray-950/60 px-1.5 py-0.5 leading-snug text-indigo-400;
}

.markdown pre {
  @apply overflow-hidden rounded-md px-0;
}

.markdown pre code {
  @apply grid overflow-auto rounded-none px-0 py-2 leading-relaxed;
  counter-reset: line;
}

.markdown [data-rehype-pretty-code-title] {
  @apply flex h-7 w-full items-center rounded-t-md bg-emerald-900/60 px-2 text-base font-bold text-emerald-200;
}

.markdown [data-rehype-pretty-code-title] + pre {
  @apply rounded-t-none;
}

.markdown [data-line] {
  @apply border-l-2 border-l-transparent px-4;
}

.markdown [data-line-numbers] [data-line] {
  @apply pl-0;
}

.markdown [data-line-numbers] [data-line]::before {
  @apply mr-2 inline-block border-r-2 border-r-slate-700 pl-2 text-slate-400;
  counter-increment: line;
  content: counter(line);
}

.markdown [data-line-numbers-max-digits="1"] > [data-line]::before {
  @apply w-8;
}

.markdown [data-line-numbers-max-digits="2"] > [data-line]::before {
  @apply w-8;
}

.markdown [data-line-numbers-max-digits="3"] > [data-line]::before {
  @apply w-12;
}

.markdown [data-highlighted-line] {
  @apply border-l-2 border-l-indigo-600 bg-indigo-950/40;
}

.markdown [data-highlighted-chars] {
  @apply -mx-1 -my-0.5 rounded bg-cyan-900/50 px-1 py-0.5;
}

.markdown [data-highlighted-chars][data-chars-id] {
  @apply font-bold;
}

.markdown [data-highlighted-chars][data-chars-id="1"] {
  @apply bg-emerald-800/50 !text-emerald-300;
}
