@import url("../../node_modules/modern-normalize/modern-normalize.css");

html,
.theme-genoma-games {
  --color-background-primary: #36393f;
  --color-background-secondary: #2f3136;
  --color-background-tertiary: #202225;

  --color-background-interactive-accent: hsla(0, 0%, 100%, 0.06);
  --color-background-interactive-active: rgba(79, 84, 92, 0.24);
  --color-background-interactive-hover: rgba(79, 84, 92, 0.16);
  --color-background-interactive-selected: rgba(79, 84, 92, 0.32);

  --color-text-interactive-active: #fff;
  --color-text-interactive-normal: #b9bbbe;
  --color-text-interactive-hover: #dcddde;
  --color-text-interactive-muted: #4f545c;

  --color-text-primary: #dcddde;
  --color-text-secondary: #ffffff;
  --color-text-muted: #999ca3;
  --color-text-link: #81e66c;

  --shadow-elevation-s: 0 1px 0 rgba(4, 4, 5, 0.2),
    0 1.5px 0 rgba(6, 6, 7, 0.05), 0 2px 0 rgba(4, 4, 5, 0.05);
  --shadow-elevation-m: 0 4px 4px rgba(0, 0, 0, 0.16);
  --shadow-elevation-l: 0 8px 16px rgba(0, 0, 0, 0.24);

  --size-base-font-rem: 0.9rem;

  --size-xxs-rem: 0.25rem;
  --size-xs-rem: 0.5rem;
  --size-s-rem: 0.75rem; /* 16px */
  --size-m-rem: 1rem; /* 16px */
  --size-l-rem: 1.5rem;
  --size-xl-rem: 2rem;
  --size-xxl-rem: 2.5rem;
  --size-xxxl-rem: 3rem;
  --size-xxxxl-rem: 3.5rem;
  --size-xxxxxl-rem: 4rem;

  --width-l: 45rem; /* 720px */
}

html,
body {
  height: 100%;
}

body {
  background-color: var(--color-background-primary);
  color: var(--color-text-primary);
  font-family: "Segoe UI", Helvetica, sans-serif;
  font-size: var(--size-base-font-rem);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--color-text-secondary);
}

a {
  color: var(--color-text-link);
  fill: var(--color-text-link);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.main {
  margin: 0 auto;
  max-width: var(--width-l);
  padding: 0 var(--size-s-rem) var(--size-xxxl-rem);
}
