.site-header {
  background-color: var(--color-background-secondary);
  box-shadow: var(--shadow-elevation-s);
}

.container {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto;
  max-width: var(--width-l);
  padding: 0 var(--size-m-rem);
}

.site-header h1 {
  font-size: var(--size-l-rem);
  margin: 0;
}

.site-header h1 a {
  align-items: center;
  color: var(--color-text-primary);
  display: inline-flex;
  height: var(--size-xxxl-rem);
  padding-right: var(--size-m-rem);
}

.site-header h1 a:hover {
  color: var(--color-text-link);
  text-decoration: none;
}

.site-header h1 span {
  margin-left: var(--size-xs-rem);
}

.site-header .nav {
  display: inline-block;
  font-size: var(--size-m-rem);
}

.site-header .nav .nav-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  list-style: none;
  margin: 0;
  padding-left: 0;
}

.site-header .nav .nav-list .nav-item {
  height: var(--size-xxxl-rem);
}

.site-header .nav a {
  align-items: center;
  border-radius: var(--size-xxs-rem);
  color: var(--color-text-interactive-normal);
  display: flex;
  height: 100%;
  padding: var(--size-xs-rem) var(--size-m-rem);
}

.site-header .nav a:hover {
  color: var(--color-text-interactive-hover);
  background-color: var(--color-background-interactive-hover);
  text-decoration: none;
}

.site-header .nav a:active {
  background-color: var(--color-background-interactive-active);
}
